header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background-image: url('../../../public/assets/images/Screenshot\ 2023-03-15\ 101643.png');
    background-size:contain;
    @include pixel-borders($border-color:#653b16);
}

.headerTitle > h1:nth-child(1){
    color: bisque;
}

header>img{
    height: 180px;
    width: 300px;
    //margin-right: -100px;
}

#reverse{
    transform: rotateY(3.142rad);
    margin-left: -100px;
}